.active{
    color:#fff !important;
    border-bottom: 2px solid #fff;
}
.active-m{
    color:#fff !important;
    font-weight: bold;
}

.card-title{
    font-weight: bold;
    font-size: 16px;
}

.bc-item{
    color: #007bff;
}


.form-label-group{
    padding-bottom: 15px;
}